# Librerias a usar

In [1]:
import pandas as pd

# Comandos utiles para programar en pandas

El método **pandas.DataFrame.loc** permite seleccionar un conjunto de filas y columnas por etiquetas. Este método acepta diferentes argumentos. Es equivalente a un filtro para un data frame.

La función **pandas.concat** es la responsable de concatenar dos o más dataframes (y de todas las estructuras proveídas por pandas) a lo largo de un eje, con soporte a lógica de conjuntos a la hora de gestionar etiquetas en ejes no coincidentes.

La función **pandas.merge** nos permite realizar "joins" entre tablas. El join es realizado sobre las columnas o sobre las filas. En el primer caso, las etiquetas de las filas son ignoradas. En cualquier otro caso (joins realizado entre etiquetas de filas, o entre etiquetas de filas y de columnas), las etiquetas de filas se mantienen.

# Tablas de datos de clientes activos
La tabla "t_active_customers" contiene información sobre el estatus del cliente dentro del banco

In [13]:
# Creamos la tabla
listC = ["98735029", "92028383", "00012345", "00735398"]
listCS = ["A", "NA", "A", "A"]
listSC = ["A", "", "", "A"]
d = {'customer_id': listC, 'customer_status': listCS, 'debit_card_status': listSC}
t_active_customers = pd.DataFrame(data=d)

# Mostramos la tabla
t_active_customers

  customer_id customer_status debit_card_status
0    98735029               A                 A
1    92028383              NA
2    00012345               A
3    00735398               A                 A

# Tablas de datos de tipo de producto
La tabla "t_product_bank" contiene información del tipo de producto con oferta en el sistema del banco

In [8]:
# Creamos la tabla
listC = ["98735029", "92028383", "00112345", "00735398"]
listPT = ["adelanto_nomina", "tdc_model", "credit_card", "mortage_model"]
d = {'customer_id': listC, 'product_type': listPT}
t_product_bank = pd.DataFrame(data=d)

# Mostramos la tabla
t_product_bank

  customer_id     product_type
0    98735029  adelanto_nomina
1    92028383        tdc_model
2    00112345      credit_card
3    00735398    mortage_model

# Tablas de datos de tipo de producto y la respuesta de la campaña
La tabla "t_product_offer" contiene información del tipo de producto con oferta en el sistema del banco y la respuesta de la oferta del mismo, en caso de ser vacía no se ha enviado la campaña

In [10]:
# Creamos la tabla
listC = ["98735029", "92028383", "00112345", "00735398"]
listPT = ["tdc_model", "tdc_model", "credit_card", "mortage_model"]
listCR = ["yes", "yes", "", ""]
d = {'customer_id': listC, 'product_type': listPT, 'campaign_response': listCR}
t_product_offer = pd.DataFrame(data=d)

# Mostramos la tabla
t_product_offer

  customer_id   product_type campaign_response
0    98735029      tdc_model               yes
1    92028383      tdc_model               yes
2    00112345    credit_card
3    00735398  mortage_model

# Solución

In [15]:
# Necesitamos los clientes sin respuesta en la campaña

In [24]:
t_product_offer_em = t_product_offer.loc[t_product_offer['campaign_response'] == ""]

In [25]:
t_product_offer_em

  customer_id   product_type campaign_response
2    00112345    credit_card
3    00735398  mortage_model

In [ ]:
# Unimos ambos data frames en el cliente y producto

In [32]:
frames = [t_product_offer_em, t_product_bank]
l_keys = ['customer_id','product_type']
df_keys = pd.concat(frames, keys=l_keys)

In [35]:
t_product_customer = df_keys.loc['customer_id']

In [39]:
t_product_customer

  customer_id   product_type campaign_response
2    00112345    credit_card
3    00735398  mortage_model

In [ ]:
# Obtenemos el dataframe de los clientes activos

In [37]:
t_active_customers_A = t_active_customers.loc[t_active_customers['customer_status'] == "A"]

In [38]:
t_active_customers_A

  customer_id customer_status debit_card_status
0    98735029               A                 A
2    00012345               A
3    00735398               A                 A

In [ ]:
# left join con clientes activos

In [44]:
final = pd.merge(t_active_customers_A, t_product_customer, on='customer_id', how='left')

In [52]:
final_A = final.loc[~pd.isnull(final.product_type)]

In [55]:
final_A

,customer_id,customer_status,debit_card_status,product_type,campaign_response
2,00735398,A,A,mortage_model,